<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="metadata=res://*/DatosTRC.csdl|res://*/DatosTRC.ssdl|res://*/DatosTRC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PS-BD40.MHPRESIIF.RED;initial catalog=MHCP_CUN;user id=siif;password=siif;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <configSections>
    <section name="default" type="MyNamespace.MyClass, MyLib" />
  </configSections>
</configuration>